<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>home page</title>
</head>


<body>
    <h5>home page</h5>
    welcome
    <br>
    <input type="button" value="upload new product" onclick="uploadfn();" />
    <br>
    <input type="button" value="logout" onclick="logoutfn();">



<!-- 
    <script>
        function logoutfn() {
            location.assign('logout.php');

        }
        function uploadfn() {
            console.log("check");
            location.assign('upload.php');
        }


        function uploadfn() {
            console.log("check");
            location.assign('upload.php');
        }

    </script> -->

</body>

</html>