

 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <title>upload page</title>
    </head>
        
    
    <body>
        <h5>upload new product info here </h5>
        <form action="" method="POST">
        <label for="pname">name</label>
            <input type="text" id="pname" name="pname">
            <br><br>
            <label for="pimage">Image</label>
            <input type="file" id="pimage" name="pimage">
            <br><br>
            <label for="pqnt">Quantity</label>
            <input type="number" id="pqnt" name="pqnt">
            <br><br>
            <label for="pprice">Price</label>
            <input type="number" id="pprice" name="pprice">
            <br><br>
              <input type="submit" value="upload product info">
            <br><br>
        </form>
        
    
    </body>
    
</html>



