<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <title>register page</title>
    </head>
        
    
    <body>
        <h5>register here</h5>
        <form action="registerprocess.php" method="POST">
        <label for="uemail">email:</label>
            <input type="email" id="uemail" name="uemail" placeholder="example@gmail.com" title="valid email">
            <br>
            <label for="upass">password:</label>
            <input type="password" id="upass" name="upass">
            <br>
           <input type="submit" value="click to register">    

        </form>
        
    
    </body>


</html>